
body {
  font-size: small;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

h1, h2 {
color: #007e7e;
 }
h1 {
  font-size; 150%;
}
h2 { 
  font-size: 130%;
}
 #guarantee {
line-height: 1.9em;
font-style: italic;
font-family: georgia, "Times New Roman", Times, serif;
color: #444444;
border-color: black;
border-width: 1px;
border-style: solid;
background-color: #a7cece;
padding: 25px;
padding-left: 80px;
margin: 30px;
margin-reight: 250px;
background-image: url(https://stickershop.line-scdn.net/sticonshop/v1/product/5e9c2396c462927cee6e4d10/iPhone/main.png);
background-repeat: no-repeat;
background-position: top left;
border-style: dashed;
border-color; white;
}
#elixirs {
border-width: thin;
border-style: solid;
border-color: #007e7e;
width: 200px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-left: 20px;
text-align: center;
background-image
url(https://media.istockphoto.com/vectors/cocktail-glasses-seamless-vector-pattern-monochrome-design-black-in-vector-id1098042130);
background-repeat: repeat-x;

}
